<div class="well right-page-box">
	<div class="page-header">
		<h1> <%= "#{current_user.name} #{current_user.surname}" %> </h1>
	</div>
	<div class="row">
		<div class="span3">
			<div class="avatar">
				<% if @user.information.avatar and !@user.information.avatar.empty? %>
				<img src="<%= @user.avatar.photo %>">
				<% end %>
			</div>
		</div>
		<div class="span6">
			<dl class="dl-horizontal">
				<% if @user.information.gender and !@user.information.gender.empty? %>
				<dt>
					<strong>Gender:</strong>
				</dt>
				<dd>
					<%= @user.information.gender %>
				</dd>
				<% end %>
				<% if @user.information.date_of_birth and !@user.information.date_of_birth.blank? %>
				<dt>
					<strong>Date of Birth:</strong>
				</dt>
				<dd>
					<%= @user.information.date_of_birth%>
				</dd>
				<% end %>
				<br/>
			</dl>
		</div>
	</div>
</div>
