<h2><%= "#{@user.name}'s posts"%></h2>
<% if @posts and !@posts.blank? %>
	<% @posts.each do |post| %>
		<%= post.content %>
		<hr/>
		<%= post.posted_date %>
	<% end %>
<% else %>
	No posts made by this user
<% end %>