<div class="span3">

	<%= render 'left_menu'%>

</div>
<div class="span9">
	<div class="right-page-box">
		<ul class="nav nav-pills" id="settingsTab">
			<li class="active">
				<a href="#profile">Profile</a>
			</li>
			<li>
				<a href="#account">Account</a>
			</li>
			<li>
				<a href="#settings">Settings</a>
			</li>
		</ul>
		<div class="tab-content  well">
			<div class="tab-pane active" id="profile">
				<%= render 'edit_profile'%>

			</div>
			<div class="tab-pane" id="account">
				account
			</div>
			<div class="tab-pane" id="settings">
				settings
			</div>
		</div>
	</div>
</div>

<script>
	$('#settingsTab a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
	})
</script>
